body {
	margin: 0;
	font-family: Arial, sans-serif;
	background: #f0f0f0;
}
.navbar{
	background: #2458e5;
	margin: 0;
	padding: 20px 30px;
}
 
.logo{
    display: flex;
    align-items: center;
	font-size: 18pt;
	font-weight: bold;
	text-decoration: none;
	color: white;
}
 
.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
 
.menu{
	margin: 0;
	display: flex;
	list-style: none;
	padding: 0;			
}
 
.menu li{
	padding-left: 0;
	margin-right: 10px;
}
 
.menu li .btn-menu{
	padding:10px;
	color: white;
	text-decoration: none;
	display: inline-block;
}

.btn-menu:hover{
    font-weight: bold;
    text-decoration: underline;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h3 {
    font-size: 32px;
}

.footer {
    background: #2458e5;
    padding: 20px;
}

.text-footer {
    text-align: center;
    color: #fff;
}